.navbar {
  width: 100%;
  padding: 20px 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255,255,255,0.05);

  backdrop-filter: blur(10px);

  border-bottom: 1px solid rgba(255,255,255,0.08);

  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #cbd5e1;
  transition: 0.3s;
}

.nav-links a:hover {
  color: white;
}